.App {
  text-align: center;
}
:root {
  --light: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-background {
  height: 10rem;
  z-index: -1;
}
.bg-header {
  height: 12rem;
  width: 100%;
  margin: auto;
  padding: 0rem;
  z-index: 2;
}
.head {
  color: white;
  letter-spacing: 10px;
  margin: auto;
}
.container {
  position: absolute;
  top: 5rem;
  left: 30%;
  margin: auto;
  padding: auto;

  justify-content: center;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.list {
  width: 20rem;
  height: 2rem;
  outline: none;
  background-color: var(--light);
  border-radius: 1rem;
}
